<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">List Skier </h3>
    <hr>
    <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1,null)">Add new Skier</button>
    <br><br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Id Skier</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>Date of birth</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let p of listProducts'>
        <td>{{p.numSkier}}</td>
        <td>{{p.firstName}}</td>
        <td>{{p.lastName}}</td>
        <td>{{p.city}}</td>
        <td>{{p.dateOfBirth}}</td>

        <td>
          <button type="button" class="btn btn-outline-primary"
                  (click)="open(mymodal1,p)">Edit
          </button>
          &nbsp;
          <button type="button" class="btn btn-outline-danger"
                  (click)="deleteProduct(p.numSkier)">Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<ng-template #mymodal1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new Skier</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="product-code">Skier ID</label>
        <div class="input-group">
          <input id="Product-code" class="form-control" type="text" placeholder="Numero Skier"
                 [(ngModel)]="product.numSkier"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="product-name">Skier First Name</label>
        <div class="input-group">
          <input id="Product-name" class="form-control" type="text" placeholder="firstName"
                 [(ngModel)]="product.firstName"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="product-prix">Skier lastname</label>
        <div class="input-group">
          <input id="Product-prix" class="form-control" type="text" placeholder="Last Name"
                 [(ngModel)]="product.lastName"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="product-cdate">Skier city</label>
        <div class="input-group">
          <input id="Product-cdate" class="form-control" type="text" placeholder="City"
                 [(ngModel)]="product.city"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="product-cdate">Skier Date of birth</label>
        <div class="input-group">
          <input id="Product-ddate" class="form-control" type="date" placeholder="Date of birth"
                 [(ngModel)]="product.dateOfBirth"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addProduct(product)"
            (click)="modal1.close('Save click')">Add
    </button>
    <button type="button" class="btn btn-danger" (click)="modal1.close('Save click')">Cancel</button>
  </div>
</ng-template>


